<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Process" value="NotePad"/>
    <!--<add key="Time" value="10000"/>-->
    <!--24 hours = 86400 seconds = 86400000 milliseconds-->
    <!--1 minute = 60000,  86400000/60000 = 1440Minutes, 1440/60minutes = 24hours, One day-->
    <add key="Time" value="86400000"/>
    <add key="LoggingAll" value="1" />
    <add key="LoggingSecondLevel" value="1" />
    <add key="LoggingThirdLevel" value="1" />
    <add key="ReportHeader_Dynamic" value="1" />
    <add key="WebDriverPath" value="C:\SoftwareDev\goAML\BW\Steve\IEDriverServer_Win32_2.53.1" />


    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Number" value="+27765503418"/>
    
    <!-- Cloud DB
    
    <add key="StrConn" value="Server=DBFFINTECH.COM;Database=DBFfintech_goAML_BSB;User id=goAMLBSB;Password=Botswana@Fin$12"/>-->

    <!-- Local -->
    <add key="StrConn" value="Server=HQ-MAINAPPSVR;initial catalog=DBFfintech_goAML_BSB;User Id=goamlbsb;Password=Botswana@Fin$19"/>
    <!--<add key="StrConn2" value="Server=DESKTOP-6GLQOO2\SESFONT_DEV_04;initial catalog=DBFfintech_goAML_BSB;User Id=sa;Password=P@$$w0rd"/>-->
    <add key="StrConn2" value="Server=HQ-MAINAPPSVR;initial catalog=DBFfintech_goAML_BSB;User Id=goamlbsb;Password=Botswana@Fin$19"/>


    <!-- UAT on site -->
    <!--<add key="StrConn" value="Server=.;initial catalog=DBFfintech_goAML_BSB;User id=aml;Password=password"/>-->
    <!--<add key="StrConn" value="Server=HQ-DBSERVER;initial catalog=DBFfintech_goAML;User id=goamlbsb;Password=Botswana@Fin$17" />-->


    <add key="EnableSsl_SMTP" value="0" />
    <!--
      SmtpServer.EnableSsl = false; // DBFfinetch cloud needs this  <add key="EnableSsl_SMTP" value="0" />
      SmtpServer.EnableSsl = true; // smtp.office365.com   <add key="EnableSsl_SMTP" value="1" />
    -->
    
    <add key="ExChangeServerName" value="spiraea.arvixe.com"/>
    <add key="UsernameToPushEmail" value="xeroxscans@dbffintech.com"/>
    <add key="PasswordForEmailAccount" value="Zvinoita"/>
    <add key="Sender_From" value="xeroxscans@dbffintech.com"/>
    <add key="Receiver_To" value="msaungweme@sesfont.com" />

    <add key="goAML_CASH_DEPOSIT_File_To_Be_Send" value="C:\TempXML\" />
    <add key="Archived_Folder" value="C:\TempXML\Archived_Folder\" />
    <add key="TempForAttachements_Folder" value="C:\TempXML\Files_SendAsAttachment\" />
    <add key="Zipped_Folder" value="C:\TempXML\Zipped_folder\" />
    
    <!--<add key="goAML_CASH_DEPOSIT_File_To_Be_Send" value="F:\Dev\tempXML\" />
    <add key="Archived_Folder" value="F:\Dev\tempXML\Archive\" />
    <add key="Zipped_Folder" value="F:\Dev\tempXML\Zipped_Folder\" />
    <add key="TempForAttachements_Folder" value="F:\Dev\tempXML\Attachments\" />-->
    
    
    <add key="Subject" value=" CASH DEPOSIT goAML records attached" />
    <add key="BodyLineAutomatedMail" value="Automated e-mail" />
    <add key="BodyLineOne" value="Good Day" />
    <add key="BodyLineTwo" value=" goAML Cash Deposit to be Uploaded" />
    <add key="BodyLineThree" value="Best regards" />
    <add key="BodyLineFour" value="Emmanuel Musabayana" />
    <add key="BodyLineFive" value="DBFfintech" />
    <add key="BodyLineSix" value="3001 Willian Nicol Drive" />
    <add key="BodyLineSeven" value="Parc Nicol Office Park" />
    <add key="BodyLineEight" value="Bryanston" />
    <add key="BodyLineNine" value="Johannesburg" />
    <add key="BodyLineNineTwo" value="South Africa" />
    <add key="BodyLineTen" value="Cell: +27 73 22 33 875" />
    <add key="BodyLineElven" value="Land line: +27 10 594 7592" />
    <add key="BodyLineTwelve" value="email: emusabayana@dbffintech.com" />
    <add key="pattern1" value="*.xml*" />
    <add key="pattern2" value="*.*" />
    <add key="CellNumberToSendTo" value="+27732233875" />
    <add key="SMSMessage" value=" goAML Records for CASH DEPOSITS to be send to FIA." />
    <add key="SMSMessageSalutation" value="Hi " />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--<add key="StrConn" value="Server=10.109.20.26;Database=Uploads;User id=sa;Password=P@$$w0rd"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
